body {
    font-size: 16px;
    color: #fff;
    background-color: #eeeeee;
    
}
/*HEADER*/
#nav-header {
    background-color: #919191;
    border-radius: 0;
    border: 2px solid #0e0e0e; 
    padding: 25px; 
}
.navbar-brand  {
    padding: 25px;
}
.navbar-brand h1 {
    color: #0e0e0e;
    font-weight: bold;
    font-size: 1.9em;
    text-shadow: 1px 1px 5px #8a8a8a;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a{
    color: #0e0e0e;
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    border-top: 2px solid #0e0e0e;

}
#nav-list a:hover{
    background: #0e0e0e1e;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 2px solid #0e0e0e;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/*END HEADER*/

/*MAIN CONTENT*/
.row {
    padding: 30px;
}
#menu-title {
    color: #0e0e0e;
    font-weight: bold;
    margin-bottom: 30px;
}
#tall-section { 
    position: relative;
    overflow: hidden; 
    margin-bottom: 30px;
}
#inside-tall-section{
    min-height: 1000px;
    background-color: #919191;
}
#tall-section h3{
    color: #181818;
    font-weight: bold;
    padding: 15px;
}
#tall-section p{
    color: #181818;
    font-size: 1.2em;
    padding: 15px;
    line-height: 30px;
}
#tall-section #back-top{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1em;
    color: #181818;
    border: 2px solid #181818;
    background-color: #bebebe;
    margin-right: 15px;

}
#tall-section #back-top:hover{
    text-decoration: none;
    background-color: #375c3d;
}
/**********Extra Small Devices Only**********/
@media (max-width: 767px){
    #nav-header {
        padding: 0px;
    }
    .navbar-brand h1 {
        margin-top: 0;
    }
    #tall-section{
        margin-right: -30px;
    }
}